.todo-input-container{
    display: flex;
    padding: 30px;
    text-align: center;
}

.todo-input-container input{
    padding: 10px;
    border: none;
    margin-right: 5px;
    width: 75%;
    background-color: #152431;
    border: 1px solid #8FA8C180;
    border-radius: 4px;
    border: 1px 0px 0px 0px;
    color:#8FA8C180;
}
.todo-input-container button{
    color: #8FA8C1;
    border: none;
    height: 40px;
    padding: 20px;
    border-radius: 4px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    background: #0C5488;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    outline: none;
    
}